@font-face {
  font-family: Segoe;
  src: url(../fonts/Segoe.ttf); }
.z-1 {
  z-index: 1; }

.z-2 {
  z-index: 2; }

.z-3 {
  z-index: 3; }

.z-4 {
  z-index: 4; }

.z-5 {
  z-index: 5; }

.z-6 {
  z-index: 6; }

.z-7 {
  z-index: 7; }

.z-8 {
  z-index: 8; }

.z-9 {
  z-index: 9; }

.z-10 {
  z-index: 10; }

.z-11 {
  z-index: 11; }

.z-12 {
  z-index: 12; }

.z-13 {
  z-index: 13; }

.z-14 {
  z-index: 14; }

.z-15 {
  z-index: 15; }

.z-16 {
  z-index: 16; }

.z-17 {
  z-index: 17; }

.z-18 {
  z-index: 18; }

.z-19 {
  z-index: 19; }

.z-20 {
  z-index: 20; }

.black-skin {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.7;
  z-index: 10; }

.next-button, .start-button, .keep-thinking, .result {
  border-radius: 50%;
  z-index: 11;
  width: 20%;
  height: 40%;
  position: absolute;
  left: 40%;
  top: 30%;
  background-color: white;
  color: black;
  font-size: 30%;
  text-align: center;
  padding-top: 8.5%; }

.next-button:hover, .start-button:hover, .result:hover {
  color: white;
  background-color: black; }

.absolute-max {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat; }

.absolute, .reg-box {
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat; }

.transition-2s {
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s; }

.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box; }

.blink-shadow {
  box-shadow: 0px 0px 10px 10px white;
  -moz-box-shadow: 0px 0px 10px 10px white;
  -o-box-shadow: 0px 0px 10px 10px white;
  -webkit-box-shadow: 0px 0px 10px 10px white;
  -ms-box-shadow: 0px 0px 10px 10px white; }

/*REG BOX */
.reg-box {
  left: 27.5%;
  top: 60%;
  width: 19%;
  height: 20%;
  border-radius: 7px;
  border: 1px solid lightGrey;
  opacity: 0.9;
  color: white;
  background-color: grey;
  font-size: 20%;
  font-family: Verdana;
  padding: 1em;
  line-height: 2em;
  text-align: right;
  z-index: 10; }

.reg-box.topcorner {
  left: 1.5%;
  top: 3%;
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s; }

.reg-box .error {
  color: red;
  font-size: 80%;
  text-align: center; }

.reg-box input {
  display: inlin-block;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 80%;
  font-family: Verdana;
  height: 2em;
  width: 13em;
  padding: 0.25em; }

.reg-box .enter-button {
  display: inlin-block;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 80%;
  width: 10em;
  height: 2em;
  padding: 0.25em; }

.reg-box .enter-button:hover {
  background-color: black;
  color: white; }

/*# sourceMappingURL=helper.css.map */
