$page-width: 2000px;
$page-height: 1000px;
$text-color: #e8f406;

@font-face 
{
	font-family: Bebas;
	src: url("../fonts/BebasNeue Regular.otf");
}

@font-face 
{
	font-family: Bebas;
	font-weight: bold;
	src: url("../fonts/BebasNeue Bold.otf");
}

@font-face 
{
	font-family: Bebas Light;
	src: url("../fonts/BebasNeue Light.otf");
}

@font-face
{
	font-family: Calibri Light;
	src: url("../fonts/CalibriLight.ttf");
}

@font-face
{
	font-family: Calibri;
	src: url("../fonts/CalibriRegular.ttf");
}


@font-face
{
	font-family: Calibri;
	font-weight: bold;
	src: url("../fonts/CalibriBold.ttf");
}

@mixin transition($val)
{
	-ms-transition: all $val;
	-webkit-transition: all $val;
	-moz-transition: all $val;
	-o-transition: all $val;
	transition: all $val;
}

@mixin transform($val)
{
	-ms-transform: rotate($val);
	-webkit-transform: rotate($val);
	-moz-transform: rotate($val);
	-o-transform: rotate($val);
	transform: rotate($val);
}
@mixin box-shadow($width, $height, $color)
{
	box-shadow: 0px 0px $width $height $color;
	-moz-box-shadow: 0px 0px $width $height $color;
	-o-box-shadow: 0px 0px $width $height $color;
	-webkit-box-shadow: 0px 0px $width $height $color;
	-ms-box-shadow: 0px 0px $width $height $color;
}
@mixin pos-and-size($left, $top, $width, $height)
{
	left: $left / 2000px * 100%;
	top: $top / 1000px * 100%;
	width: $width / 2000px * 100%;
	height: $height / 1000px * 100%;
}

@mixin pos-and-size-2($left, $top, $width, $height)
{
	left: $left;
	top: $top;
	width: $width;
	height: $height;
}

@function calc-percent($target, $container)
{
	@return $target/$container * 100%;
}

@for $i from 1 through 20
{
	.z-#{$i}
	{
		z-index: #{$i};
	}
}

.black-skin
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: black; 
	opacity: 0.7;
	z-index: 10;
}

.next-button, .start-button, .correct, .keep-thinking, .result
{
	border-radius: 50%;
	z-index: 11;
	width: 20%;
	height: 40%;
	position: absolute;
	left: 40%;
	top: 30%;
	background-color: white;
	color: black;
	font-size: 60%;
	text-align: center;
	padding-top: 8.5%;	
}

.next-button:hover, .start-button:hover, .result:hover
{
	color: white;
	background-color: black;
}

.absolute-max
{
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.absolute
{
	position: absolute;
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.transition-2s
{
	-ms-transition: all 2s;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}

.default-font
{
	font-family: Verdana;
}

.border-box
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

*
{
	@extend .border-box;
	@extend .default-font;
}

/*GLOBAL AND MENU*/

body
{
	position: absolute;
	margin: 0%;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
	max-height: 100%;
	font-size: 50px;
}

#main
{
	@extend .absolute-max;
	overflow: hidden;
}

.frame
{
	@extend .absolute-max;
	background-size: 100% 100%;
}

.tv-frame
{
	@extend .z-7;
	@extend .absolute-max;
	background-image: url(../pics/tv-frame.png);
}

.black-bg
{
	@extend .absolute-max;
	@extend .z-1;
	background-image: url(../pics/black-background.png);
}

/*FRAME 000 (TITLE/MENU)*/

#frame-000
{
	background-image: url(../pics/s0-bg.png);
}

#frame-000 .annotation-hidden
{
	@extend .absolute;
	z-index: 20;
	@include pos-and-size-2(-120%, -20%, 100%, 100%);
	background-color: white;
	color: black;
	@include transition(2s);
	padding: 3em 7em;
	font-size: 30%;
	font-family: Calibri Light;
	text-align: left;
}

#frame-000 .annotation-hidden ul li
{
	font-family: Calibri Light;
	font-size: 75%;
}

#frame-000 .annotation-hidden .footer 
{
	font-family: Calibri Light;
	font-style: italic;
	font-size: 90%;
}

#frame-000 .annotation-hidden .header 
{
	font-family: Calibri;
	font-style: bold;
	font-size: 120%;
	display: block;
	min-width: 100%;
	text-align: center;
}

#frame-000 .annotation-shown
{
	@include pos-and-size-2(0%, 0%, 100%, 100%);
}

#frame-000 .annotation-button
{
	@extend .absolute;
	z-index: 23;
	@include pos-and-size-2(5%, 85%, 5%, 5%);
	font-size: 30%;
	color: white;
	cursor: pointer;
	text-align: center;
}

#frame-000 .annotation-button-close
{
	color: gray;
}

#frame-000 .annotation-button:hover
{
	color: blue;
}

#frame-000 .button
{
	@extend .absolute;
	cursor: pointer;
}

#frame-000 .button:hover
{
	border-bottom: 3px solid white;
}

#frame-000 .research-button 
{
	@include pos-and-size(1352px, 641px, 240px, 72px);
}

#frame-000 .check-button 
{
    @include pos-and-size(1281px, 514px, 320px, 83px);
}

#frame-000 .facts-button 
{
	@include pos-and-size(1416px, 766px, 175px, 73px);
}

#frame-000 .der-button  
{
  @include pos-and-size(655px, 251px, 942px, 212px);
}

#frame-000 .copyright{
	@extend .absolute;
	z-index: 19;
	left: 62%;
	top: 94.7%;
	width: 31%;
	height: 5%;
	font-size: 21%;
	color: gray;
}	

/*FRAME 101*/

#frame-101
{
	
}

#frame-101 .bg
{
	@extend .absolute-max;
}

@for $i from 1 through 3 
{
    #frame-101 .bg-#{$i} 
	{ 
		background-image: url(../pics/s1-bg-#{$i}.png);
	}
}

#frame-101 .tv-frame
{
	background-image: url(../pics/tv-frame.png);
}

#frame-101 .law
{
	@extend .absolute-max;
}

#frame-101 .law-1
{
	background-image: url(../pics/s1-law-1.png);
}

#frame-101 .law-2
{
	background-image: url(../pics/s1-law-2.png);
	background-color: black;
}

/*FRAME 102*/

#frame-102
{
	background-image: url(../pics/s2-bg-1.png);
}

#frame-102 .bg-1
{
	@extend .absolute-max;
	background-image: url(../pics/s2-bg-2.png);
}

#frame-102 .bg-2
{
	@extend .absolute-max;
	background-image: url(../pics/s2-bg-3.png);
}
#frame-102 .bg-3
{
	@extend .absolute-max;
	background-image: url(../pics/black-background.png);
}

#frame-102 .milk-ice-cream
{
	@extend .absolute-max;
	background-image: url(../pics/s2-milk-ice-cream.png);
}

#frame-102 .boy-1-mouth
{
	@extend .absolute-max;
	background-image: url(../pics/s2-boy-1-mouth.gif);
}

#frame-102 .boy-1-mouth-2
{
	@extend .absolute-max;
	background-image: url(../pics/s2-boy-2-mouth-2.gif);
}

#frame-102 .boy-2-mouth
{
	@extend .absolute-max;
	background-image: url(../pics/s2-boy-2-mouth.gif);
}

#frame-102 .boy-2-mouth-2
{
	@extend .absolute-max;
	background-image: url(../pics/s2-angry-boy-mouth.gif);
}

#frame-102 .shake
{
	@extend .absolute-max;
	background-image: url(../pics/s2-shake.png);
}

#frame-102 .lomonosov
{
	@extend .absolute;
	@include pos-and-size(1319px, 320px, 681px, 711px);
	background-image: url(../pics/s2-lomonosov.png);
}

#frame-102 .cloud-kaz
{
	@extend .absolute;
	@include pos-and-size(621px,577px, 612px, 399px);
	background-image: url(../pics/s2-cloud-kaz.png);
}

#frame-102 .cloud-rus
{
	@extend .absolute;
	@include pos-and-size(1076px, 0px, 533px, 347px);
	background-image: url(../pics/s2-cloud-rus.png);
}

#frame-102 .cloud-eng
{
	@extend .absolute;
	@include pos-and-size(788px, 263px, 482px, 314px);
	background-image: url(../pics/s2-cloud-eng.png);
}

#frame-102 .cloud-formula
{
	@extend .absolute;
	@include pos-and-size(939px, 128px, 589px, 384px);
	background-image: url(../pics/s2-cloud-formula.png);
}

#frame-102 .boy-jug
{
	@extend .absolute;
	@include pos-and-size(458px, 314px, 803px, 585px);
	background-image: url(../pics/s2-boy-jug.png);
	background-size: auto 100%;
}

#frame-102 .boy-angry
{
	@extend .absolute-max;
	background-image: url(../pics/s2-angry-boy-n-bg.png);
	background-size: 100% 100%;
}

#frame-102 .video-container
{
	@extend .absolute-max;
	background-color: black;
}

/*FRAME 103*/

#frame-103
{
	background-image: url(../pics/black-background.png);
}

#frame-103 .tv-program
{
	@extend .absolute-max;
	background-image: url(../pics/s3-tv-program.png);
}

#frame-103 .boys-1
{
	@extend .absolute-max;
	background-image: url(../pics/s3-boys-1.png);
}

#frame-103 .boys-2
{
	@extend .absolute-max;
	background-image: url(../pics/s3-boys-2.png);
}

/*FRAME 104 AND 105*/

#frame-104, #frame-105
{
	background-image: url(../pics/black-background.png);
}

#frame-104 .bingo-1
{
	@extend .absolute;
	background-size: 100% 100%;
	@include pos-and-size(630px, 205px, 745px, 377px);
	@include transition(2s);
	background-image: url(../pics/s4-bingo.png);
}

#frame-105 .bingo-1
{
	@extend .absolute;
	background-size: 100% 100%;
	@include pos-and-size(630px, 205px, 745px, 377px);
	@include transition(2s);
	background-image: url(../pics/s5-bingo.png);
}

#frame-104 .label-1, #frame-105 .label-1
{
	@extend .absolute;
	@include pos-and-size(200px, 637px, 1600px, 155px);
	@include transition(2s);
	color: #e8f406;
	text-align: center;
	font-size: 50%;
}

#frame-104 .table, #frame-105 .table
{
	@include pos-and-size(677px, 265px, 669px, 627px);
	@extend .absolute;
	font-family: Verdana;
}

#frame-104 .table .row, #frame-105 .table .row
{
	position: relative;
	width: 100%;
	height: 20%;
	font-family: Verdana;
}

#frame-104 .table .row .data
{
	position: relative;
	width: 33.3%;
	height: 100%;
	float: left;
	cursor: pointer;
	font-size: 60%;
	background-color: white;
	border: 3px solid black;
	text-align: center;
	padding: 1%;
	font-family: Verdana;
}

#frame-105 .table .row .data
{
	position: relative;
	width: 33.3%;
	height: 100%;
	float: left;
	cursor: pointer;
	font-size: 35%;
	background-color: white;
	border: 3px solid black;
	text-align: center;
	padding: 1%;
	padding-top: 3%;
	font-family: Verdana;
}

.color-1
{
	color: #f26e3c;
}

.color-2
{
	color: #2d3da2;
}

.color-3
{
	color: #368a19;
	font-size: 32%;
}

#frame-104 .table .row .data:hover, #frame-105 .table .row .data:hover
{
	background-color: blue;
	color: white;
}

#frame-104 .timer, #frame-105 .timer
{
	@extend .absolute;
	@include pos-and-size(1646px, 754px, 265px, 145px);
	font-size: 60%;
	color: $text-color;
}

#frame-104 .help-button, #frame-105 .help-button
{
	@extend .absolute;
	@include pos-and-size(83px, 73px, 80px, 80px);
	color: $text-color;
	text-align: center;
	font-size: 34%;
	border-radius: 50%;
	border: 3px solid $text-color;
	padding: 0.8%;
}

#frame-104 .help-button:hover, #frame-105 .help-button:hover
{
	color: black;
	background-color: $text-color;
}

#frame-104 .hint-pic
{
	@extend .absolute;
	@include pos-and-size(787px, 323px, 426px, 426px);
	@include box-shadow(4px, 4px, white);
	background-color: black;
	background-image: url(../pics/hint-h2o.png);
}

#frame-104 .strawberry-container
{
	@extend .absolute;
	@include pos-and-size(1551px, 73px, 244px, 148px);
}

#frame-105 .hint-pic
{
	@extend .absolute;
	@include pos-and-size(787px, 323px, 426px, 426px);
	@include box-shadow(4px, 4px, white);
	color: white;
	padding: 2%;
	font-size: 20%;
	text-align: center;
	background-color: black;
}

#frame-105 .task-pic
{
	@extend .absolute;
	@include pos-and-size(1344px, 243px, 450px, 500px);
	background-image: url(../pics/task-sulfuric-acid.png);
	background-size: 100% 100%;
}



#frame-105 .banana-container
{
	@extend .absolute;
	@include pos-and-size(1718px, 72px, 218px, 355px);
}

#frame-104 .strawberry-container .strawberry
{
	float: left;
	width: 25%;
	height: 50%;
	background-size: 100% 100%;
	background-image: url(../pics/strawberry.png);
}

#frame-105 .banana-container .banana
{
	float: left;
	width: 50%;
	height: 33%;
	background-size: 100% 100%;
	background-image: url(../pics/banana.png);
}

/*FRAME 106*/

#frame-106
{
	background-image: url(../pics/s6-bg.png);
}

#frame-106 .boy-1-mouth, #frame-106 .boy-2-mouth
{
	@extend .absolute-max;
}

#frame-106 .boy-1-mouth
{
	background-image: url(../pics/s2-boy-1-mouth.gif);
}

#frame-106 .boy-2-mouth
{
	background-image: url(../pics/s6-boy-2-mouth.gif);
}

/*FRAME 107*/

#frame-107 .box-a, #frame-107 .box-b, #frame-107 .box-c
{
	@extend .absolute;
	background-size: 100% 100%;
	cursor: pointer;
}

#frame-107 .box-a
{
	background-image: url(../pics/s7-box-a.png);
	@include pos-and-size(1393px, 330px, 493px, 419px);
}

#frame-107 .box-a:hover
{
	background-image: url(../pics/s7-box-a.png);
	@include pos-and-size(1383px, 320px, 513px, 439px);
}

#frame-107 .box-b
{
	background-image: url(../pics/s7-box-b.png);
	@include pos-and-size(712px, 288px, 572px, 485px);
}

#frame-107 .box-b:hover
{
	background-image: url(../pics/s7-box-b.png);
	@include pos-and-size(702px, 278px, 592px, 505px);
}

#frame-107 .box-c
{
	background-image: url(../pics/s7-box-c.png);
	@include pos-and-size(169px, 350px, 406px, 345px);
}

#frame-107 .box-c:hover
{
	background-image: url(../pics/s7-box-c.png);
	@include pos-and-size(159px, 340px, 426px, 365px);
}

/*FRAME 107-a*/

#frame-107-a 
{
	background-image: url(../pics/s7-task-a.png);
}

#frame-107-a .ball
{
	@extend .absolute;
	background-size: 100% 100%;
	@extend .z-8;
}

#frame-107-a .ball-2
{
	@include pos-and-size(1839px, 456px, 75px, 98px);
	background-image: url(../pics/s7-2.png);
}

#frame-107-a .ball-3
{
	@include pos-and-size(80px, 656px, 75px, 98px);
	background-image: url(../pics/s7-3.png);
}

#frame-107-a .ball-4
{
	@include pos-and-size(80px, 456px, 75px, 98px);
	background-image: url(../pics/s7-4.png);
}

#frame-107-a .ball-5
{
	@include pos-and-size(1839px, 656px, 75px, 98px);
	background-image: url(../pics/s7-5.png);
}

#frame-107-a .basket
{
	@extend .absolute;
	@extend .z-8;
	background-size: 70% 70%;
	background-position: center;
	background-repeat: no-repeat;
}

#frame-107-a .basket-1 { @include pos-and-size(364px, 155px, 71px, 84px); }
#frame-107-a .basket-2 { @include pos-and-size(666px, 153px, 73px, 88px); }
#frame-107-a .basket-3 { @include pos-and-size(1047px, 155px, 71px, 84px); }
#frame-107-a .basket-4 { @include pos-and-size(1481px, 155px, 67px, 84px); }
#frame-107-a .basket-5 { @include pos-and-size(234px, 304px, 71px, 84px); }
#frame-107-a .basket-6 { @include pos-and-size(612px, 304px, 71px, 84px); }
#frame-107-a .basket-7 { @include pos-and-size(1074px, 304px, 73px, 86px); }
#frame-107-a .basket-8 { @include pos-and-size(1545px, 306px, 68px, 82px); }
#frame-107-a .basket-9 { @include pos-and-size(345px, 449px, 71px, 91px); }
#frame-107-a .basket-10 { @include pos-and-size(640px, 456px, 73px, 86px); }
#frame-107-a .basket-11 { @include pos-and-size(1070px, 453px, 75px, 87px); }
#frame-107-a .basket-12 { @include pos-and-size(1480px, 453px, 70px, 89px); }
#frame-107-a .basket-13 { @include pos-and-size(454px, 603px, 74px, 89px); }
#frame-107-a .basket-14 { @include pos-and-size(874px, 603px, 72px, 89px); }
#frame-107-a .basket-15 { @include pos-and-size(1236px, 607px, 75px, 87px); }
#frame-107-a .basket-16 { @include pos-and-size(327px, 754px, 73px, 91px); }
#frame-107-a .basket-17 { @include pos-and-size(632px, 750px, 74px, 95px); }
#frame-107-a .basket-18 { @include pos-and-size(1068px, 754px, 73px, 87px); }
#frame-107-a .basket-19 { @include pos-and-size(1492px, 754px, 72px, 87px); }

/*FRAME 107-b*/

#frame-107-b
{
	background-image: url(../pics/s7-task-b.png);
}

#frame-107-b .ball
{
	@extend .absolute;
	background-size: 100% 100%;
	@extend .z-8;
}

#frame-107-b .ball-2
{
	@include pos-and-size(1746px, 98px, 65px, 98px);
	background-image: url(../pics/s7-2.png);
}

#frame-107-b .ball-3
{
	@include pos-and-size(165px, 239px, 65px, 98px);
	background-image: url(../pics/s7-3.png);
}

#frame-107-b .ball-4
{
	@include pos-and-size(165px, 89px, 65px, 98px);
	background-image: url(../pics/s7-4.png);
}

#frame-107-b .ball-5
{
	@include pos-and-size(1746px, 239px, 65px, 98px);
	background-image: url(../pics/s7-5.png);
}

#frame-107-b .ball-6
{
	@include pos-and-size(165px, 388px, 65px, 98px);
	background-image: url(../pics/s7-6.png);
}

#frame-107-b .basket
{
	@extend .absolute;
	@extend .z-8;
	background-size: 70% 70%;
	background-position: center;
	background-repeat: no-repeat;
}

#frame-107-b .basket-1 { @include pos-and-size(556px, 150px, 75px, 91px); }
#frame-107-b .basket-2 { @include pos-and-size(1220px, 153px, 71px, 86px); }
#frame-107-b .basket-3 { @include pos-and-size(389px, 297px, 75px, 93px); }
#frame-107-b .basket-4 { @include pos-and-size(1056px, 304px, 68px, 86px); }
#frame-107-b .basket-5 { @include pos-and-size(1376px, 301px, 70px, 87px); }
#frame-107-b .basket-6 { @include pos-and-size(400px, 454px, 71px, 89px); }
#frame-107-b .basket-7 { @include pos-and-size(765px, 454px, 73px, 87px); }
#frame-107-b .basket-8 { @include pos-and-size(1065px, 457px, 71px, 84px); }
#frame-107-b .basket-9 { @include pos-and-size(1367px, 457px, 75px, 89px); }
#frame-107-b .basket-10 { @include pos-and-size(193px, 603px, 75px, 89px); }
#frame-107-b .basket-11 { @include pos-and-size(549px, 605px, 75px, 87px); }
#frame-107-b .basket-12 { @include pos-and-size(979px, 605px, 73px, 85px); }
#frame-107-b .basket-13 { @include pos-and-size(1238px, 603px, 76px, 89px); }
#frame-107-b .basket-14 { @include pos-and-size(1574px, 603px, 73px, 89px); }
#frame-107-b .basket-15 { @include pos-and-size(396px, 754px, 71px, 87px); }
#frame-107-b .basket-16 { @include pos-and-size(720px, 754px, 69px, 84px); }
#frame-107-b .basket-17 { @include pos-and-size(1389px, 752px, 71px, 89px); }

/*FRAME 107-c*/

#frame-107-c
{
	background-image: url(../pics/s7-task-c.png);
}

#frame-107-c .ball
{
	@extend .absolute;
	background-size: 100% 100%;
	@extend .z-8;
}

#frame-107-c .ball-2
{
	@include pos-and-size(643px, 832px, 65px, 98px);
	background-image: url(../pics/s7-2.png);
}

#frame-107-c .ball-3
{
	@include pos-and-size(834px, 832px, 65px, 98px);
	background-image: url(../pics/s7-3.png);
}

#frame-107-c .ball-4
{
	@include pos-and-size(1028px, 832px, 65px, 98px);
	background-image: url(../pics/s7-4.png);
}

#frame-107-c .ball-5
{
	@include pos-and-size(1399px, 832px, 65px, 98px);
	background-image: url(../pics/s7-5.png);
}

#frame-107-c .ball-6
{
	@include pos-and-size(1219px, 832px, 65px, 98px);
	background-image: url(../pics/s7-6.png);
}

#frame-107-c .basket
{
	@extend .absolute;
	@extend .z-8;
	background-size: 70% 70%;
	background-position: center;
	background-repeat: no-repeat;
}

#frame-107-c .basket-1 { @include pos-and-size(118px, 186px, 64px, 76px); }
#frame-107-c .basket-2 { @include pos-and-size(372px, 190px, 62px, 76px); }
#frame-107-c .basket-3 { @include pos-and-size(966px, 188px, 62px, 78px); }
#frame-107-c .basket-4 { @include pos-and-size(1279px, 188px, 63px, 76px); }
#frame-107-c .basket-5 { @include pos-and-size(1639px, 186px, 67px, 78px); }
#frame-107-c .basket-6 { @include pos-and-size(505px, 316px, 64px, 77px); }
#frame-107-c .basket-7 { @include pos-and-size(1189px, 316px, 60px, 77px); }
#frame-107-c .basket-8 { @include pos-and-size(1506px, 314px, 61px, 77px); }
#frame-107-c .basket-9 { @include pos-and-size(196px, 451px, 64px, 76px); }
#frame-107-c .basket-10 { @include pos-and-size(470px, 449px, 63px, 75px); }
#frame-107-c .basket-11 { @include pos-and-size(870px, 447px, 66px, 77px); }
#frame-107-c .basket-12 { @include pos-and-size(1578px, 447px, 64px, 77px); }
#frame-107-c .basket-13 { @include pos-and-size(309px, 578px, 62px, 77px); }
#frame-107-c .basket-14 { @include pos-and-size(1019px, 578px, 62px, 79px); }
#frame-107-c .basket-15 { @include pos-and-size(1338px, 578px, 61px, 77px); }
#frame-107-c .basket-16 { @include pos-and-size(556px, 709px, 66px, 75px); }
#frame-107-c .basket-17 { @include pos-and-size(786px, 705px, 62px, 77px); }
#frame-107-c .basket-18 { @include pos-and-size(1117px, 709px, 66px, 75px); }
#frame-107-c .basket-19 { @include pos-and-size(1547px, 705px, 65px, 81px); }
#frame-107-c .basket-20 { @include pos-and-size(1768px, 707px, 62px, 75px); }

/*FRAME 108*/

#frame-108 .tv-frame
{
	background-image: url(../pics/s1-law-2.png), url(../pics/tv-frame.png);
}

#frame-108 .matches
{
	background-image: url(../pics/s8-matches.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	@include transition(2s);
}

#frame-108 .matches.pos-0
{
	@extend .absolute;
	@include pos-and-size(1000px, 500px, 0px, 0px);
}

#frame-108 .matches.pos-1
{
	@extend .absolute-max;
	background-size: 60%;
}

#frame-108 .matches.pos-2
{
	@extend .absolute;
	@include pos-and-size(1256px, 336px, 537px, 421px);
	background-size: 100% 100%;
}

#frame-108 .equation
{
	@extend .absolute;
	background-image: url(../pics/s8-equation.png);
	@include pos-and-size(215px, 304px, 912px, 485px);
}

#frame-108 .textfield
{
	@extend .absolute;
	background-color: transparent;
	border: none;
	@extend .z-8;
	font-size: 35%;
	text-align: center;
	padding: 0.3%;
	font-family: Verdana;
	font-weight: bold;
}

#frame-108 .textfield-1
{
	@include pos-and-size(825px, 445px, 230px, 55px);
}

#frame-108 .textfield-2
{
	@include pos-and-size(825px, 535px, 230px, 55px);
}

#frame-108 .textfield-3
{
	@include pos-and-size(825px, 625px, 230px, 55px);
}

#frame-108 .title
{
	@extend .absolute;
	@include pos-and-size(504px, 140px, 997px, 59px);
	font-size: 40%;
	text-align: center;
}

#frame-108 .comment
{
	@extend .absolute;
	@include pos-and-size(712px, 203px, 588px, 85px);
	font-size: 20%;
	color: red;
	text-align: center;
}

#frame-108 .check-button
{
	@extend .absolute;
	@extend .z-8;
	@include pos-and-size(1379px, 812px, 245px, 91px);
	background-image: url(../pics/check-button.png);
}

#frame-108 .check-button:hover
{
	background-image: url(../pics/check-button-hover.png);
}

#frame-108 .pear-container
{
	@extend .absolute;
	@include pos-and-size(819px, 748px, 372px, 155px);
}

#frame-108 .pear-container .pear
{
	float: left;
	width: 33.3%;
	height: 100%;
	background-size: 100% 100%;
	background-image: url(../pics/pear.png);
}

/*FRAME 109*/

#frame-109 
{
	background-image: url(../pics/s6-bg.png);
}

#frame-109 .boy-mouth
{
	@extend .absolute-max;
	background-image: url(../pics/s2-boy-1-mouth.gif);
}

#frame-109 .pancakes
{
	@extend .absolute;
	background-image: url(../pics/s9-pancakes.png);
	@include pos-and-size(283px, 179px, 207px, 158px);
}

#frame-109 .cloud
{	
	@extend .absolute;
	@include pos-and-size(204px, 109px, 332px, 299px);
	background-image: url(../pics/s9-cloud.png);
}

#frame-109 .soda
{
	@extend .absolute;
	background-image: url(../pics/s9-soda.png);
	@include pos-and-size(282px, 370px, 64px, 93px);
}

#frame-109 .vinegar
{
	@extend .absolute;
	background-image: url(../pics/s9-vinegar.png);
	@include pos-and-size(418px, 330px, 41px, 133px);
}

/*FRAME 110*/

#frame-110 
{
	background-image: url(../pics/black-background.png);
}

#frame-110 .comment
{
	@extend .absolute;
	@include pos-and-size(497px, 116px, 1126px, 136px);
	font-size: 40%;
	text-align: center;
	color: white;
}

#frame-110 .avogadro-law-eng
{
	@extend .absolute;
	background-image: url(../pics/avogadro-law-eng.png);
	@include pos-and-size(613px, 447px, 774px, 106px);
}

#frame-110 .avogadro-law-kaz
{
	@extend .absolute;
	background-image: url(../pics/avogadro-law-kaz.png);
	@include pos-and-size(649px, 300px, 701px, 106px);
}

#frame-110 .avogadro-law-rus
{
	@extend .absolute;
	background-image: url(../pics/avogadro-law-rus.png);
	@include pos-and-size(673px, 579px, 780px, 106px);
}

#frame-110 .formula
{
	@extend .absolute-max;
	background-image: url(../pics/s10-formula.png);
}

#frame-110 .law
{
	@extend .absolute;
	@include pos-and-size(137px, 305px, 1735px, 74px);
	background-image: url(../pics/s10-law.png);
}

#frame-110 .label {
	@extend .absolute;
	left: 24.05%;
	top: 52.6%;
	width: 8.05%;
	height: 6.5%;
	font-size: 55%;
	color: #FFF;
}

#frame-110 .textfield
{
	@extend .absolute;
	@include pos-and-size(761px, 497px, 517px, 138px);
	font-size: 80%;
	padding: 1%;
	font-family: Verdana;
	font-weight: bold;
}

#frame-110 .check-button
{
	@extend .absolute;
	@include pos-and-size(1348px, 493px, 398px, 149px);
	background-image: url(../pics/check-button.png);
}
#frame-110 .check-button:hover
{
	background-image: url(../pics/check-button-hover.png);
}

#frame-110 .law-link
{
	font-size: 30%;
	cursor: pointer;
	text-decoration: underline;
	color: blue;
	@extend .absolute;
	text-align: center;
}

#frame-110 .law-1-link
{
	@include pos-and-size(301px, 845px, 278px, 51px);
}

#frame-110 .law-2-link
{
	@include pos-and-size(800px, 845px, 440px, 51px);
}

#frame-110 .law-3-link
{
	@include pos-and-size(1534px, 845px, 166px, 51px);
}

#frame-110 .hint-pic
{
	@extend .absolute;
	@include pos-and-size(100px, 100px, 1800px, 800px);
	background-color: black;
}

#frame-110 .hint-pic .close-button
{
	@extend .absolute;
	right: 0px;
	top: 0px;
	font-size: 60%;
	color: white;
	cursor: pointer;
}

#frame-110 .hint-pic .close-button:hover
{
	color: blue;
}

#frame-110 .correct-answer
{
	@extend .absolute-max;
	background-image: url(../pics/correct-answer-rus.png);
	z-index: 9;
}

/*FRAME 111*/

#frame-111
{
	background-image: url(../pics/s11-bg.png);
}

.transformed
{
	@include transform(360deg);
}

#frame-111 .fruits
{
	@extend .absolute;
	@include transition(10s);
	@include pos-and-size(533px, 8px, 988px, 807px);
	background-image: url(../pics/s11-fruits.png);
	background-size: 80% 80%;
	background-position: center;
	border-radius: 50%;
}

/*CHECK YOURSELF*/

#frame-201 *
{
	font-size: 40%;
}

#frame-201 .page-title
{
	font-size: 100%;
}

#frame-201 .surname, #frame-201 .surname u
{
	font-size: 60%;
}

#frame-201 .date, #frame-201 .date u
{
	font-size: 60%;
}

#frame-201 .awards
{
	font-size: 50%;
}

#frame-201 .part-title
{
	position: relative;
	border-top: 2px solid black;
	padding-top: 1%;
}

#frame-201 .question
{
	padding: 10%;
	border-top: 2px dotted gray;
}

#frame-201 .task-4 .table .row .data
{
	float: left;
	border: 1px solid black;
	padding: 0.5%;
	width: 25%;
	height: 100%;
}

#frame-201 .task-4 .table .row 
{
	width: 100%;
	height: 33%;
}

#frame-201 .task-4 .table
{
	position: relative;
	width: 1800px;
	height: 300px;
}

/*FACTS*/

#frame-301
{
	background-color: lightGray;
}

#frame-301 .header
{
	@extend .absolute;
	left: 25%;
	top: 6.4%;
	width: 50%;
	height: 35.2%;
	font-size: 50%;
	font-weight: bold;
	text-align: center;
}


#frame-301 .facts-container
{
	@extend .absolute;
	@include pos-and-size(63px, 217px, 1851px, 600px);
	border-bottom: 1px solid white;
}

#frame-301 .fact
{
	float: left;
	height: 100%;
	width: 20%;
}

#frame-301 .fact .title
{
	font-size: 32%;
	text-align: center;
	width: 100%;
	border-bottom: 1px solid white;
	padding-bottom: 0.1em;
}

#frame-301 .fact .text
{
	font-size: 26%;
	font-family: Verdana;
	padding: 1%;
	padding-top: 5%;
	text-align: center;
}

#frame-301 .fact .text-dif-format
{
	font-size: 30%;
	font-family: Verdana;
	padding: 1%;
	padding-top: 5%;
	text-align: center;
}
#frame-301 .sources
{
	@extend .absolute;
	left: 5%;
	top: 85%;
	width: 90%;
	height: 10%;
	font-size: 30%;
}

#frame-301 .sources .title
{
	text-align: center;
	height: 70%;
}

#frame-301 .sources ul
{
	width: 100%;
	height: 100%;
	list-style-type: none;
	margin:0;
	padding: 0;
}

#frame-301 .sources ul li
{
	font-family: Verdana;
	font-size: 60%;
	display: inline;
	float: left;
	width: 25%;
}

#frame-301 .sources ul li a
{
	display: block;
	width: 100%;
}

#frame-301 .facts-home-button
{
	@extend .absolute;
	@include pos-and-size(1889px, 28px, 91px, 91px);	
	display: block;
	font-size: 50%;
	cursor: pointer;
	border-radius: 50%;
	background-color: #8DD3FD;
	border: 1px solid black;
	padding: 0.4em;
	color: white;
}
#frame-301 .facts-home-button:hover
{	
	border: 1px solid #FEB67A;
	color: black;
}

/*RESEARCH*/

#frame-401
{
	background-image: url(../pics/black-background.png);
}

#frame-401 .scales
{
	@extend .absolute;
	@include pos-and-size(105px, 552px, 556px, 346px);
	background-image: url(../pics/scales.png);
}

#frame-401 .scales-empty
{
	@extend .absolute;
	@include pos-and-size(105px, 552px, 556px, 346px);
	background-image: url(../pics/scales-empty.png);
}

#frame-401 .scales-before
{
	@extend .absolute;
	@include pos-and-size(105px, 552px, 556px, 346px);
	background-image: url(../pics/scales-before.png);
}

#frame-401 .scales-after
{
	@extend .absolute;
	@include pos-and-size(105px, 552px, 556px, 346px);
	background-image: url(../pics/scales-after.png);
}

#frame-401 .spoon
{
	@extend .absolute;
	@include pos-and-size(1830px, 299px, 47px, 340px);
	background-image: url(../pics/spoon.png);
	background-size: 300% 100%;
}

#frame-401 .spoon-petry
{
	@include pos-and-size(1642px, 446px, 47px, 340px);
}

#frame-401 .spoon-tigel
{
	@include pos-and-size(1200px, 79px, 47px, 340px);
}

#frame-401 .petry
{
	@extend .absolute;
	@include pos-and-size(1500px, 725px, 280px, 121px);
}

#frame-401 .petry-full
{
	background-image: url(../pics/petry-full.png);
}

#frame-401 .petry-empty
{
	background-image: url(../pics/petry-empty.png);
}

#frame-401 .shtativ
{
	@include transition(2s);
	@extend .absolute;
	background-image: url(../pics/shtativ.png);
	@include pos-and-size(796px, 280px, 518px, 573px);
}
#frame-401 .shtativ-2
{
	@include transition(2s);
	@extend .absolute;
	background-image: url(../pics/shtativ2.png);
	@include pos-and-size(796px, 280px, 518px, 573px);
}

#frame-401 .burner
{
	@extend .absolute;
	background-image: url(../pics/burner.gif);
	background-size: 100% 100%;
	@include pos-and-size(1055px, 552px, 192px, 269px);
}

#frame-401 .tigel
{
	@include transition(2s);
	@extend .absolute;
	@include pos-and-size(1055px, 419px, 248px, 133px);
}

#frame-401 .tigel-empty
{
	background-image: url(../pics/tigel-empty.png);
}

#frame-401 .tigel-full
{
	background-image: url(../pics/tigel-full.png);
}

#frame-401 .tigel-closed
{
	background-image: url(../pics/tigel-closed.png);
}

#frame-401 .tigel-on-scale
{
	@include pos-and-size(291px, 486px, 248px, 133px);
}

#frame-401 .title
{
	@extend .absolute;
	color: white;
	font-size: 80%;
	text-decoration: underline;
	@include pos-and-size(122px, 91px, 211px, 73px);
}

#frame-401 .text
{
	@extend .absolute;
	font-family: Verdana;
	font-size: 30%;
	text-align: left;
	color: white;
	background-color: black;
	padding: 3%;
	@include pos-and-size(377px, 150px, 1303px, 700px);
}

#frame-401 .comment
{
	@extend .absolute;
	font-size: 40%;
	color: white;
	@include pos-and-size(118px, 218px, 700px, 101px);
}

#frame-401 .info
{
	@extend .absolute-max;
	@extend .z-6;
}

#frame-401 .info-1
{
	background-image: url(../pics/research-1.png);
}

#frame-401 .info-2
{
	background-image: url(../pics/research-2.png);
}

#frame-401 .info-3
{
	background-image: url(../pics/research-3.png);
}

#frame-401 .print-button
{
	@extend .absolute;
	@extend .z-7;
	font-size: 60%;
	color: white;
	text-align: center;
	border: 3px solid white;
	background-color: black;
	cursor: pointer;
	@include pos-and-size( 418px, 798px, 1219px, 128px);
}

#frame-401 .print-button:hover
{
	background-color: gray;
}

/*FRAME 402*/

#frame-402 .date
{
	@extend .absolute;
	width: 100%;
	height: 5%;
	font-size: 30%;
	padding: 1%;
}

#frame-402 .instruction
{
	@extend .absolute;
	width: 100%;
	top: 5%;
	height: 10%;
	font-size: 50%;
	padding: 1%;
}

#frame-402 .instruction-2
{
	@extend .absolute;
	width: 100%;
	height: 10%;
	top: 15%;
	font-size: 50%;
	padding: 1%;
}

#frame-402 .instruction-3
{
	@extend .absolute;
	width: 100%;
	height: 10%;
	top: 75%;
	font-size: 50%;
	padding: 1%;
}

#frame-402 .instruction-4
{
	@extend .absolute;
	width: 100%;
	height: 10%;
	top: 130%;
	font-size: 50%;
	padding: 1%;
}

#frame-402 .table
{
	@extend .absolute;
	top: 30%;
	left: 2%;
	width: 95%;
	height: 40%;
}

#frame-402 .table-2
{
	@extend .absolute;
	top: 85%;
	left: 2%;
	width: 95%;
	height: 40%;
}
 
#frame-402 .table .row
{
	width: 100%;
	height: 25%;
}

#frame-402 .table-2 .row
{
	width: 100%;
	height: 25%;
}

#frame-402 .table .row .data
{
	display: block;
	width: 50%;
	height: 100%;
	float: left;
	border: 1px solid black;
	font-size: 50%;
	padding: 1%;
}

#frame-402 .table-2 .row .data
{
	display: block;
	width: 33%;
	height: 100%;
	float: left;
	border: 1px solid black;
	font-size: 50%;
	padding: 1%;
}

/*INTRO VIDEO*/

.intro-video
{
	@extend .absolute-max;
	display: block;
	z-index: 25;
	background-color: white;
}

/*INTRO PIC*/

.intro-pic
{
	@extend .absolute-max;
	background-image: url(../pics/intro-pic.png);
	z-index: 24;
}

.intro-pic .grade 
{
	@extend .absolute;
	@include pos-and-size(520px, 368px, 97px, 82px);
	font-family: Verdana;
	font-size: 70%;
	color: white;
	text-align: center;
}

.intro-pic .subject 
{
	@extend .absolute;
	@include pos-and-size(839px, 458px, 1000px, 131px);
	font-family: Verdana;
	font-size: 60%;
	color: #666564;
	text-align: left;
}

.intro-pic .subject .sub-part
{
	font-size: 80%;
	font-family: Verdana;
}