.absolute-max
	position: absolute
	width: 100%
	height: 100%
	background-size: auto 100%

@mixin pos-and-size($left, $top, $width, $height)
	left: $left / 2000px * 100%
	top: $top / 1000px * 100%
	width: $width / 2000px * 100%
	height: $height / 1000px * 100%
	
@mixin border-radius($radius)
	-moz-border-radius: $radius
	-o-border-radius: $radius
	-webkit-border-radius: $radius
	border-radius: $radius

.absolute
	position: absolute
	background-size: auto 100%
	
@for $i from 1 through 20
	.z-#{$i}
		z-index: #{$i}

.transition-0-5s
	transition: all 0.5s
	-moz-transition: all 0.5s
	-ms-transition: all 0.5s
	-o-transition: all 0.5s
	-webkit-transition: all 0.5s
		
@for $i from 1 through 10
	.transition-#{$i}s
		transition: all 2s
		-moz-transition: all 2s
		-ms-transition: all 2s
		-o-transition: all 2s
		-webkit-transition: all 2s
		
.border-box
	box-sizing: border-box
	-moz-box-sizing: border-box
	-o-box-sizing: border-box
	-webkit-box-sizing: border-box
	
*
	@extend .border-box
	
body
	@extend .absolute-max
	margin: 0%
	min-width: 100%
	min-height: 100%
	max-width: 100%
	max-height: 100%
	
#main
	@extend .absolute-max

.nav-grey-skin
	@extend .absolute-max
	background-color: white
	opacity: 0.6
	z-index: 10

.nav-grey-skin-instruction
	opacity: 1
	background-image: url(../pics/instruction.png)
	
.nav
	@extend .absolute
	@include border-radius(50%)
	@extend .z-11
	text-align: center
	padding-top: 0.3em
	color: white
	font-size: 40%
	cursor: pointer
	border: 4px solid #ff6262
	background-color: #ff9a9a
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9a9a), to(#ff4040))
	background-image: -webkit-linear-gradient(top, #ff9a9a, #ff4040)
	background-image: -moz-linear-gradient(top, #ff9a9a, #ff4040)
	background-image: -ms-linear-gradient(top, #ff9a9a, #ff4040)
	background-image: -o-linear-gradient(top, #ff9a9a, #ff4040)

.nav:hover
	background-color: #ff6767
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6767), to(#ff0d0d))
	background-image: -webkit-linear-gradient(top, #ff6767, #ff0d0d)
	background-image: -moz-linear-gradient(top, #ff6767, #ff0d0d)
	background-image: -ms-linear-gradient(top, #ff6767, #ff0d0d)
	background-image: -o-linear-gradient(top, #ff6767, #ff0d0d)
	background-image: linear-gradient(to bottom, #ff6767, #ff0d0d)
	border: 4px solid #ff3434
	
.nav-home
	@include pos-and-size(1889px, 598px, 91px, 91px)
	font-size: 50%
	padding-top: 0.3em
	
.nav-ff
	@include pos-and-size(1889px, 158px, 91px, 91px)

.nav-fb
	@include pos-and-size(1889px, 378px, 91px, 91px)
	
.nav-pause
	@include pos-and-size(1889px, 488px, 91px, 91px)

.nav-play, .nav-repeat
	@include pos-and-size(1889px, 268px, 91px, 91px)
	
.nav-instruction
	@include pos-and-size(1889px, 708px, 91px, 91px)
	
.nav-launcher, .nav-close, .nav-center
	@include pos-and-size(1889px, 28px, 91px, 91px)
	z-index: 12
	
.nav-launcher 
	opacity: 0.6
	
.nav-launcher, .nav-close
	z-index: 13

.nav-timer
	@extend .absolute
	@include pos-and-size(1889px, 818px, 91px, 91px)
	border-radius: 50%
	background-color: red
	color: white
	text-align: center
	z-index: 11
	padding-top: 0.5em
	font-size: 40%




















	




	
	